name: Build FreeBSD

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    name: Build FreeBSD ${{ matrix.release }}
    strategy:
      matrix:
        release: ["15.0"]
    uses: bbusse/github-workflows/.github/workflows/build-freebsd.yml@dev
    with:
      release: ${{ matrix.release }}
      image_builder_ref: dev
