name: Build NanoBSD

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    name: Build NanoBSD
    uses: bbusse/github-workflows/.github/workflows/build-nanobsd.yml@dev
    with:
      image_builder_ref: dev
      mem: 4096
